<!DOCTYPE html>
<html>
	<head>
		<script src="http://webrtc.googlecode.com/svn/trunk/samples/js/base/adapter.js"></script>
		<script src="http://yui.yahooapis.com/3.10.3/build/yui/yui-min.js"></script>
		<script src="javascripts/webrtc/webrtc-min.js"></script>
		<script type="text/javascript">
			YUI({
				modules: {
					socket_io: {
						fullpath: '/socket.io/socket.io.js'
					}
				}
			}).use('webrtc', function(Y) {
				var stream = new Y.WebRTC();
				
				stream.setLocal('vid1');

				var id = window.location.pathname.match(/\/(\d+)/);
				if (id !== null) stream.setId(id[1]);

				var numStreams = 1;

				stream.onConnection(function() {
					numStreams++;
					Y.one('#streams').append('<video id="vid' + numStreams + '" width="400px" autoplay></video>');
					stream.addRemote('vid' + numStreams);
				});
				
				stream.startStream('both', function(id) {
					Y.one('body').append('<a href="/' + id + '" target="_blank">Link to this stream</a>');
				});

				Y.one('#fileInput').on('change', function() {
					stream.sendFile('fileInput');
				});
			});
		</script>
	</head>
	<body>
		<div id="streams">
		  	<video id="vid1" width="400px" autoplay></video>
		</div>
		<input type="file" id="fileInput"><br>
	</body>
</html>